
<div class="container">
   <div class="row">
        <div class="col-md-3" *ngFor="let emp of employeeList">
            <div class="card mb-4"  >
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{emp.firstName}}</h5>
                  <p class="card-text">{{emp.addressLine}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        
    </div>
</div>